---
const members = {
"general_staff": [
    {
      "nombre": "Jes煤s Estrada Gallardo",
      "correo": "jagallardo@uninorte.edu.co",
      "telefono": "3219957838",
      "carrera": "Ing. electr贸nica",
      "semestre": "VII",
      "cargo": "Presidencia"
    },
    {
      "nombre": "Luc铆a Isabel Montoya Orozco",
      "correo": "limontoya@uninorte.edu.co",
      "telefono": "3052403033",
      "carrera": "Ing. en sistemas",
      "semestre": "III",
      "cargo": "Vicepresidencia"
    },
    {
      "nombre": "Catalina Pacheco Forero",
      "correo": "catalinapacheco@uninorte.edu.co",
      "telefono": "3043208920",
      "carrera": "Ing. industrial",
      "semestre": "V",
      "cargo": "Secretar铆a general"
    },
    {
      "nombre": "Alejandra Valencia R煤a",
      "correo": "alejandrarua@uninorte.edu.co",
      "telefono": "3012971442",
      "carrera": "Ing. en sistemas",
      "semestre": "V",
      "cargo": "Tesorer铆a"
    }
  ],
  "divulgation_staff": [
    {
      "nombre": "Jesus Quiroz Rojas",
      "correo": "quirozdj@uninorte.edu.co",
      "telefono": "3003887981",
      "carrera": "Ing. electr贸nica",
      "semestre": "IX",
      "cargo": "Direcci贸n del departamento de divulgaci贸n"
    },
    {
      "nombre": "Jhonatan Maldonado Barrera",
      "correo": "barreraaj@uninorte.edu.co",
      "telefono": "3184464600",
      "carrera": "Ing. electr贸nica",
      "semestre": "VII",
      "cargo": "Coordinaci贸n de investigaci贸n"
    },
    {
      "nombre": "Mar铆a Isabel Guti茅rrez Gonz谩lez",
      "correo": "mariaig@uninorte.edu.co",
      "telefono": "3004836004",
      "carrera": "Ing. en sistemas",
      "semestre": "III",
      "cargo": "Coordinaci贸n de dise帽o"
    },
    {
      "nombre": "Maria Camila Osorno Suarez",
      "correo": "osornoc@uninorte.edu.co",
      "telefono": "3218505994",
      "carrera": "Ing. en sistemas",
      "semestre": "V",
      "cargo": "Coordinaci贸n de redacci贸n"
    },
    {
      "nombre": "Amir Orozco Fernandez",
      "correo": "amiro@uninorte.edu.co",
      "telefono": "3023574166",
      "carrera": "Ing. electr贸nica",
      "semestre": "VII",
      "cargo": "Comit茅 de audiovisuales"
    },
    {
      "nombre": "Daniel Cruzado Agudelo",
      "correo": "dcruzado@uninorte.edu.co",
      "telefono": "3015336135",
      "carrera": "Ing. en sistemas",
      "semestre": "IV",
      "cargo": "Comit茅 de audiovisuales"
    },
    {
      "nombre": "Isaac Monterroza Montalvo",
      "correo": "imontalvo@uninorte.edu.co",
      "telefono": "3004016640",
      "carrera": "Ing. mec谩nica",
      "semestre": "III",
      "cargo": "Comit茅 de audiovisuales"
    }
  ],
  "academic_staff" :[
    {
      "nombre": "Lucas Romero Mercado",
      "correo": "lucasromero@uninorte.edu.co",
      "telefono": "3045739227",
      "carrera": "Ing. electr贸nica",
      "semestre": "V",
      "cargo": "Direcci贸n del departamento acad茅mico"
    }
  ],
  "logistic_staff":[
    {
      "nombre": "Valentina Fragozo Zuleta",
      "correo": "fragozov@uninorte.edu.co",
      "telefono": "3012555853",
      "carrera": "Ing. el茅ctrica",
      "semestre": "VII",
      "cargo": "Direcci贸n del departamento de log铆stica"
    },
    {
      "nombre": "Gabriel Rodr铆guez Charris",
      "correo": "gabrielcharris@uninorte.edu.co",
      "telefono": "3184533033",
      "carrera": "Ing. electr贸nica",
      "semestre": "VIII",
      "cargo": "Asistencia del departamento de log铆stica"
    }
  ],
  "register_staff":[
    {
      "nombre": "Zahir Acosta De La Asunci贸n",
      "correo": "zdelaasuncion@uninorte.edu.co",
      "telefono": "3022685979",
      "carrera": "Ing. Sistemas",
      "semestre": "III",
      "cargo": "Direcci贸n del departamento de registro"
    }
  ],
  "media_staff":[
    {
      "nombre": "Yeisi Rodriguez Charris",
      "correo": "yeisir@uninorte.edu.co",
      "telefono": "3012055028",
      "carrera": "Ing. electr贸nica",
      "semestre": "IX",
      "cargo": "Community Manager"
    },
    {
      "nombre": "Gabriela Palacio Vargas",
      "correo": "apalaciog@uninorte.edu.co",
      "telefono": "3233474111",
      "carrera": "Ing. civil",
      "semestre": "V",
      "cargo": "Community Manager"
    }
  ],
  "intercom_staff":[
    {
      "nombre": "Cesar Mu帽oz Ceballos",
      "correo": "ceballosac@uninorte.edu.co",
      "telefono": "3126933273",
      "carrera": "Ing. mec谩nica",
      "semestre": "V",
      "cargo": "Comunicaciones internas"
    }
  ],
  "tech_staff":[
    {
      "nombre": "Jesus Cantillo Guerrero",
      "correo": "jesusguerrero@uninorte.edu.co",
      "telefono": "3017130166",
      "carrera": "Ing. en sistemas",
      "semestre": "V",
      "cargo": "Direcci贸n del departamento de tecnolog铆a"
    }
  ]

}

const staffTypes = ["general_staff","academic_staff","divulgation_staff","media_staff","logistic_staff","intercom_staff","register_staff","tech_staff"]; // Cambiar seg煤n el tipo de personal que deseas mostrar
const staffMembers = members["general_staff"];
---

<section class="member-grid">
  {
    staffTypes.map((staffType) => {
      const staffMembers = members[staffType];
      <h1>MONDA</h1>
      return staffMembers.map((member) => (
        <div class="member-card">
          <div class="member-img-container">
          <img  style="" src={`/staffimg/${member.correo}.jpg`} alt={`Foto de ${member.nombre}`} />
        </div>   
          <div class="member-details">
            <h3 class="text-gradient"> {member.nombre}</h3>
            <p> И {member.carrera}</p>
            <p>  {member.correo}</p>
            <p>  {member.cargo}</p>
          </div>
        </div>
      ));
    })
  }
</section>
  <style scoped>
     .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    text-
  }



    .member-grid {
      line-height: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr)); 
    gap: 20px; 
    }


    img {
      max-width:  100%;
    max-height:  100%;
    object-fit: cover;
}
    .member-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
      border-width: 3px; /* Ancho del borde */
      border-style: solid; /* Estilo del borde */
      border-radius: 5px;
      border-image: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500)) 1; /* Definici贸n del degradado para el borde */
    }

    .member-img-container {
      display: flex;
    justify-content: center;
    align-items: center;
    width:  250px; /* Elige el tama帽o deseado para el lado m谩s largo del cuadrado */
    height:  250px; /* El mismo valor que width para mantener la imagen cuadrada */
    overflow: hidden;
    }
  
    .member-details {
      margin-top: 10px;
    }
  
    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }
  </style>